@model FrameworkDev.Web.Models.VM_ChangePassword

@{
    ViewBag.Title = "تغییر رمز عبور";
}

<br />
<fieldset class="bocrud-subgroup" style="padding: 10px !important;background-color: white !important;">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.EditorFor(model => model.CurrentPassword, "IGPassword")

        @Html.EditorFor(model => model.Password, "IGPassword")

        @Html.EditorFor(model => model.PasswordConfirm, "IGPassword")


    <div class="col-md-3 ButtonBar">

        <div class="col-md-3">
            @(Html.Kendo().Button().Name("Changepassword").Content("ذخیره").HtmlAttributes(new { type = "submit" }))
            @*<input type="submit" value="ذخیره" class="btn btn-default" />*@
        </div>

    </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <br />
                <br />
                }

    </fieldset> 