@using FrameworkDev.Web.Helpers

@model List<FrameworkDev.Web.Models.Menu>


<ul class="sidebar-menu" data-widget="tree">
    @foreach (var menu in Model.OrderBy(x => x.Order))
    {

        var controller = (menu.ControllerFullName?.Split('.')[3] ?? "Home")?.Replace("Controller", "");
        var action = "";

        var menuUrl = menu.Url?.Split('/');

        if (menuUrl != null && menuUrl.Length >= 3)
        {
            action = menuUrl[menuUrl.Length - 1] ?? "Index";
        }

        if (string.IsNullOrWhiteSpace(menu.Url))
        {
            var controllers = controller;
            var actions = action;

            foreach (var subMenu in menu.SubMenus.OrderBy(x => x.Order))
            {
                var subMenuUrl = subMenu.Url?.Split('/');
                if (subMenuUrl != null && subMenuUrl.Length >= 3)
                {
                    controllers += "," + subMenuUrl[subMenuUrl.Length - 2] ?? "";
                    actions += "," + subMenuUrl[subMenuUrl.Length - 1] ?? "";
                }
            }

            <li class="treeview @Html.IsSelected(actions: actions, controllers: controllers)">
                <a href="javascript:;">
                    <i class="@menu.CssIcon"></i>
                    <span>@menu.Name</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                @if (menu.SubMenus.Any())
                {
                    <ul class="treeview-menu menu-open">
                        @foreach (var subMenu in menu.SubMenus.OrderBy(x => x.Order))
                        {

                            var smController = "";
                            var smAction = "";

                            var subMenuUrl = subMenu.Url?.Split('/');

                            if (subMenuUrl != null && subMenuUrl.Length >= 3)
                            {
                                smController = subMenuUrl[subMenuUrl.Length - 2] ?? "";
                                smAction = subMenuUrl[subMenuUrl.Length - 1] ?? "";
                            }

                            <li class="@Html.IsSelected(actions: smAction, controllers: smController)">
                                <a href="@Url.Content(subMenu.Url)" target="@subMenu.Target">
                                    <i class="@subMenu.CssIcon"></i>
                                    <span>@subMenu.Name</span>
                                </a>
                            </li>

                        }
                    </ul>
                }
            </li>

        }
        else
        {
            <li class="@Html.IsSelected(actions: action, controllers: controller)">
                <a href="@Url.Content(menu.Url)" target="@menu.Target">
                    <i class="@menu.CssIcon"></i>
                    <span>@menu.Name</span>
                </a>
            </li>
        }

    }
</ul>

